.vscode

# Tensorboard event files
runs/*
hparam_runs/*

# For copyright reasons of the dataset we use, we cannot include the actual data
datasets/data/*
datasets/splits/*
datasets/c++/*

# DVIS visualizer files
visualization/*

models/*
*/__pycache__
